<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poiret+One&display=swap');

        * {
            font-family : DM Sans;
            box-sizing: border-box;
            margin: 0;
        }

        body {
            background: #0A0E10;
            height: 100lvh;
            width: 100%%;
        }
    </style>
{% block content %}

{% endblock content %}
</html>